.container-fluid {
    height: 100vh;
}

#info-card-table td {
    font-size: 12px;
}

.navbar-text {
    color: #fff !important;
    font-weight: bold;
}

.vis-network {
    background-color: #f8f9fa !important;
    border: 1px solid #dee2e6;
    border-radius: 10px;
}
